body {
    font-family: Eurostile;
    color:#279AF1;
    background-color: #10003B;
    overflow:hidden;
}

.content {
    display: inline;
    margin-top:0;
}

a:link, a:visited {
    color: #B38600;
  }



.name{
    width: 82%;
    padding-left:2%;
    padding-right:2%;
    /* margin-top:5%; */
    display: inline-block;    
    position:relative;
}

.name h1 {
    font-size: 75px;
    letter-spacing: 14px;
}

.descriptions {
    /* background-color: plum; */
    background-color: rgba(10,10,10,0.5);
    padding:50px 10px;
    display: flex;
}

.skills {
    /* background-color: aquamarine; */
    padding: 100px 20px; /*(top.bottom) (right,left) */
    font-size:30px;
    display: inline-block;
    position:relative;
    border-right:2px solid;
    height:100%;
}

.skills h2 {
    margin:0px;
    padding:10px 10px 10px;
    position:relative;
    
}

.skills h2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top:63px;
    /* bottom: 0; */
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.skills h2:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bits{
    /* background-color: blueviolet; */
    display:inline-block;
    /* position:fixed; */
    flex:2;
    padding:1em;
    /* padding-left:20%; */
    font-size:25px;
    /* position: absolute; */
}

.bits div {
    display:none;
}

.bits img {
    width:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


/*Portfolio*/

.portfolioImage {
    width:80%;
    padding-left:20%;
}

.name {
    overflow: scroll;
    height: 100vh;
}

.name table {
    border-collapse: collapse;
    
}

.name td {
    border-bottom: 1px solid blueviolet;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:1%;
}



/*Navigation Panel*/

.navigation {
    display: inline-block;
    height:100%;
    width: 14%;
    background-color: #0D002F;

    position: absolute;
    right:0px;
    top:0px;
    bottom:0px;
}

.navigation ul {
    list-style-type: none;
    font-size:30px;
    padding-left:0px;
    padding-top:50%;
}

.navigation li {
    padding: 15px;
}

.navigation a{
    text-decoration: none;
    display:inline;
    color:#279AF1;
}

.currentPage {
    background-color: #10003B;
}

.navigation #social{
    position:absolute;
    bottom:0%;
}

.navigation #social img {
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}