/* good accent color #3DDC97, #5C9EAD */

html, body {
    max-width: 100%;
    overflow-x:hidden;
    background-color:#25363D;
    color:#d9fbf5;
}

* {
    margin:0;
}

.navigation {
    background-color:#2A3D45;
    width:100%;
    margin: 0;
    padding: 1%;
    display: flex;
    align-items: center;
}

.navigation img {
    height:50%;
    width: auto;
    position:absolute;
}

.name {
    white-space:nowrap;
    width:55%;
}

.buttons {
    position:absolute;
    right:0;
    /* overflow:hidden; */
    padding:1%;
    width:55%;
    /* vertical-align: middle; */
    /* display: inline; */
}

    /* .buttons ul{
        list-style-type: none;
        display: inline;
        padding:0;
        white-space:nowrap;
        right:0;
        float: right;
        justify-content: space-between;
    } */

/* .buttons li {
    display: inline;
    float: right;
    padding: 5%;
    
} */

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

.buttons a.text {
    padding: 5%;    
}

.buttons a.image {
    padding: 0 10% 0 0;
}

.buttons img {
    padding: 0 5% 0 5%;
}

.buttons {
    float:right;
    padding:1% 0 1% 0;
    right:0;
    width:40%;
}

a#selected, a:hover {
    color:#3DDC97;
}

/* li#selected, li:hover {
    color:#3DDC97;
} */

.content {
    /* background-color:#3DDC97; */
    position:absolute;
    margin-top:5%;
    /* margin-bottom:calc(5% + 50px); */

}

.content p {
    text-align: justify;
    padding:5%;
}

.content img {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px #1c272c;
}

#resume-content, #portfolio-content {
    margin:5%;
}

/* table#resume,th,td {
    border: 1px solid;
} */

th { 
    border-bottom: 1px solid;
    padding:10px;
}

table#resume {
    width:90%;
    /* table-layout: fixed; */
}

tr.spacer {
    height:50px;
}

.resumepic {
    max-width: 100%;
}

.column1 {
    width:60%;
}

.column2 {
    width:30%;
}

p.error, h1.error {
    color:#c37e5c;
    padding:5%;
    width:100%;
}