html * {
    font-family: "Century Gothic", sans-serif;
}

.background{
	position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: rgb(200, 200, 200);
    /*background-color: rgba(100,100,100,255);*/

    background-attachment: fixed; /*Fixes the picture in place*/
    width: 100%;
    height: 100%;
    /*font-family: "Candara", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*font-family: "Century Gothic", sans-serif;*/
}







/*****************************NAVBAR***************************************/

.topBar{
    background-color:rgba(20, 20, 20, 255);
    position:fixed;
    width:100%
}

h1{
    margin:0;
    padding:60px 40px;
    display:inline;
    font-size: 45px;
    color:white;
}

ul#navBar {
    display: inline;
    list-style-type: none;
    position: fixed;
    right: 0;
    margin: 0;
    padding: 0;
  }

/*Display in horizontal line*/
ul#navBar li {
    float:left;
}

ul#navBar li a,ul#navBar .dropbtn, .dropdown-content a {
    display: block;
    color: white;
    background-color: rgba(20, 20, 20, 255);
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 25px;
  }

/*Nav Bar Hover*/
ul#navBar li a:hover, ul#navBar .dropbtn:hover, ul#navBar li a.thisPage{
    background-color:rgba(50,50,50,255);
    height:100%;
    padding-bottom:14px;
}

.dropdown-content {
    display: none;
    vertical-align: middle;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    background-color:#44444463;
  }

.externalLinkDropdown:hover .dropdown-content {
    display: block;
}

.linkedinlogo{
    width: 150px;
    height:auto;
    vertical-align: middle;
}

.githublogo {
    display:inline-block;
    vertical-align: middle;
    width:32px;
    height: auto;
}

/****************************************************************************/







/*****************************PROJECTS***************************************/

.projects2{
    width: 100%;
    color:black;
    text-align: left;
    vertical-align: middle;
    padding:40px 50px;
}

.projects2 h2 {
    display:inline-block;
    font-size:30px;
    padding-left:50px;
    line-height: 10px;
    /*color: #38FFc5;*/
    color: #b21500;
}

.projects2 h3 {
    text-align: justify;
    padding-left:100px;
    font-size:20px;
    color:black;

}

.projects2 h3#withImage{
    max-width: 87%;
}

.projects2 a {
    color:black;
    text-decoration: underline;
}

.projects2 tr {
    text-align:left;
    display:inline-block;
}

.projects2 tr#addLine{
    /*border-bottom: 1px solid #38FFc5;*/
    border-bottom: 1px solid #b21500;
}

.projects2 td {
    max-width:75%;
}

.projects2 img {
    padding-right:30px;
}

.theTurningImage2{
    max-width: 400px;

}

.innerAllyImage2{
    max-width: 200px;
}

.jump4justiceImage2 {
    max-width: 400px;
}

.aiwolfimage2{
    max-width: 500px;
}

/********************************************************************/







/*******************************ABOUT********************************/

.about {
    color:black;
}

.about h2#hello {
    padding-top:5%;
    padding-left:10%;
    font-size:300px;
    line-height: 0px;
    height: 0px;
    /*color:#b21500;*/
}

.about h2#name {
    padding-left:10%;
    font-size:130px;
    line-height: 0px;
    height: 0px;
    
}

.about h2#school {
    padding-left:10%;
    font-size:25px;
}

.about h2#intro {
    text-align: justify;
    vertical-align: middle;
    padding-top: 0px;
    max-width:75%;
    /*color:#38FFc5;*/
    /*color:#b21500;*/
    font-size:25px;
}

.about table, th, td {
    width: 100%;
    height:25%;
    table-layout: fixed;
    text-align: left;
    vertical-align: middle;
    padding-top:20px;
}

.about table img {
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 5px;
}


/********************************************************************/


/******Prevents Overscrolling******/
html, body {
    padding: 0px;
	margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
/***********************************/