<div class="navigation">
    <div class="name">
        <h1>Travis</h1>
    </div>
    <div class="buttons">
        <a {% if page.title=='Travis' %}   class="selected"{% else %}href="/"{% endif %}>whoami</a>
        <a {% if page.title=='Resume' %}   class="selected"{% else %}href="/resume"{% endif %}>Resume</a>
        <a {% if page.title=='Portfolio' %}class="selected"{% else %}href="/portfolio"{% endif %}>Portfolio</a>
        <a class="image" href="https://www.linkedin.com/in/t-mewborne/" target="_blank"><img src="/assets/images/in.png"></img></a>
        <a class="image" href="https://github.com/t-mewborne" target="_blank"><img src="/assets/images/github64.png"></img></a>
    </div>
</div>