<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.error.name }}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <main>
            <div class="error">
                <h1 class="error">{{ page.error.name }}</h1>
                <p class="error">{{ page.error.description }}<a href="index.html">Click here to return home.</a></p>
            </div>
        </main>
    </body>
</html>