<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.error.name }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>

        <div class="error-wrapper">
            <div class="error">
                <h1 class="error">{{ page.error.name }}</h1>
                <p class="error">{{ page.error.description }}</p>
                <button onclick="window.location.href='/';">Return Home</button>
            </div>
        </div>

    </body>
</html>